<h1 class="">Events created</h1>
  <% if user_signed_in? %>
    <div class="container">
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-lg-4 col-sm-12">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="card-title">Name:</span><%= event.title %>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="card-text">Description:</span>
                    <%= event.body %>
                  </li>
                  <li class="list-group-item">
                    <span>Date:</span>
                    <%= event.day%>
                  </li>
                  <li class="list-group-item">
                    <span>Location:</span>
                    <%= event.address %>
                  </li>
                  <%
=begin%>
 <li class="list-group-item">
                    <span>Username:</span>
                    <%= event.user.username %>
                  </li> 
<%
=end%>
                </ul>
                <div class="card-body">
                  <%= link_to 'Show', event %>
                  <%= link_to 'Edit', edit_event_path(event) %>
                  <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
             </div>
          </div>
        <% end %> 
      </div>
    </div>
  <% end %>
<br>
<br>




