<h1 class="">Events created</h1>
  <% if user_signed_in? %>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="col">
            <div class="card">
              <% @events.each do |event| %>
                <div class="card-body">
                  <span class="card-title">Name:</span><%= event.title %>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="card-text">Description:</span>
                    <%= event.body %>
                  </li>
                  <li class="list-group-item">
                    <span>Date:</span>
                    <%= event.day%>
                  </li>
                  <li class="list-group-item">
                    <span>Location:</span>
                    <%= event.address %>
                  </li>
                  <li class="list-group-item">
                    <span>Username:</span>
                    <%= event.user.username %>
                  </li>
                </ul>
                <div class="card-body">
                  <%= link_to 'Show', event %>
                  <%= link_to 'Edit', edit_event_path(event) %>
                  <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<br>

<br>

