<h1>Events</h1>
<hr>
<h2>Upcoming Events</h2>
<ul>
  <% @upcoming_events.each do |event| %>
     <h4><%= link_to event.title, event_path(event.id)%></h4><br>
      <%= event.body %><br>
      <%= event.day%><br>
      <br>Attendees : <%= event.attendees.count %></small> 
   
    <br>
  <% end %>
</ul>

<h1>Past Events</h1>
<ul>
  <% @past_events.each do |event| %>
  
      <h4><%= link_to event.title, event_path(event.id)%></h4><br>
      
      <br>Attendees : <%= event.attendees.count %></small> 
    
    <br>
  <% end %>
</ul>