

<div class="card-body">
  <div class="card-body">
  <div class="col">
    <p>
      <% if @event.event_photo.attached?%>
      <%= image_tag @event.event_photo, width:"300", height:"300" %>
      <% end %>
    </p>
    
    <p>
      <strong>Name of event:</strong>
      <%= @event.title %>
    </p>
  </div>
      
   <div class="card-body">
       <p>
      <strong>About event:</strong>
      <%= @event.body %>
    </p>
  </div>
   
  <div class="card-body">
    <p>
      <strong>Event Date:</strong>
      <%= @event.day %>
    </p>
  </div>

  <div class="card-body">
    <p>
      <strong>Location of event:</strong>
      <%= @event.address %>
    </p>
  </div>

  <div class="card-body">
    <p>
      <strong>Author's name:</strong>
      <%= @event.user.username %>
    </p>  
  </div>
  </div>    
</div>

<hr> <h2>Register for event</h2>
  <ul>
    <% @event.registers.each do |register| %>

      <p>
    <strong>email:</strong>
    <%= register.email %>
  </p>

  <p>
    <strong>name:</strong>
    <%= register.name %>
  </p>

  <p>
    <strong>username:</strong>
    <%= register.user.username %>
  </p>
    <% end %>
  </ul>
<hr>

<h2>Register:</h2>
<%= form_with model: [ @event, @event.registers.build ] do |form| %>
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    
    <%= form.submit %>
  </p>
  <% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
